.reveal {
  font-family: "Exo", Verdana, Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  font-weight: normal;
    color : #005aa4;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color : #005aa4;
  margin: 0 0 20px 0;
  font-family: "Exo", Verdana, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5
{
    text-align: left;
}

.reveal h1 {
  font-size: 2.0em; }
.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.0em;
}

.reveal h4 {
  font-size: 0.6em; }

.reveal h1 {
  text-shadow: none; }

  .reveal .slides p { text-align: justify; }
  .reveal ul { margin: 0 0 0 0;
      display: block;
      padding-inline-start: 0;
  }
  .reveal li {
      margin: 0 0 0 0;
      list-style-position : inside;
      marker-offset: 0.5em;
  }
  .reveal em { color: #2799f9; font-style: normal;  }
  .reveal section .left-image img { float: left; margin-right: 0%;}
  .right-image img { width: 10em; float: right; margin-right: 0%;}
  .right-image pre  { float: left; display: inline-block; width: auto}
  .reveal section .full-width-image img { width: 100%;}
  .reveal section.mid-width-image img {  max-width: 80%; width: 80%; margin-right: auto; margin-left: auto; display: block;}
  .reveal section .center-image img { margin-left: auto; margin-right: auto; display: block }

html.low-background .slide-background {
	opacity: 0.2 !important;
}
.footer{
    position: absolute;
    bottom: 44.5px;
    display: block;
    height:50px;

}
